<div class="row">
  <div class="col-md-12">
    <p>This is "ADMIN ONLY" access</p>
    <i>* If you are not an Admin user, please sign out and notify "admin@thegoodwiki.io" immediately.</i>
  </div>
</div>
