<div class="row">
  <div class="col-md-8">
    <h2>Cancel Premium Membership</h2>
    <p>Please read the instructions below THOROUGHLY before you downgrade your account.</p>
    <ul>
      <li>If you downgrade your account, you have to make another payment if you decide to upgrade your account again in a future.</li>
      <li>By downgrading, you will loose the privilage to view the Private Wikis.</li>
    </ul>
    <p>If you are sure to proceed, please click the button.</p>
    <%= button_to "Cancel Premium Membership", users_downgrade_path, class: 'btn btn-warning', method: :put,  data: { confirm: 'Are you sure you want to downgrade your membership?'} %>
  </div>
</div>
