<h1>Edit Wiki</h1>

<div class="row">
  <%= render partial: 'form', locals: {wiki: @wiki} %>

  <div class="col-md-4">
    <ul>
      <li>Edit your wiki and click "Save"</li>
    </ul>
  </div>
</div>
