<h1>All Wikis</h1>

<div class="row">
  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <div class="media-heading">
            <%= link_to wiki.title, wiki %>
            <% if is_private?(wiki) %>
              <span class='glyphicon glyphicon-lock' id="private"></span>
            <% end %>
            <br />
            <small>Created by: <%= wiki.user.email %></small>
            <p><%= markdown(wiki.body) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
      <br />
      <br />
      <small>
        *<span class='glyphicon glyphicon-lock' id="private"></span> = Private
      </small>
    <% end %>
  </div>
</div>
