<h1>New Wiki</h1>

<div class="row">
  <%= render partial: 'form', locals: {wiki: @wiki} %>

  <div class="col-md-4">
    <p>Create your own wiki!</p>
    <ul>
      <li>Everyone will be watching your wiki. So make it interesting!.</li>
      <li>Try to create your own special wiki!</li>
    </ul>
  </div>
</div>
